body {
    font-family: Helvetica, sans-serif;
    background-color: #5CDB95;
    margin: 0;
}

.nameDiv {
    margin-top: 45px;
    text-align: center;
}

#nameStyle {
    text-align: center;
    color: #05386B;
    border: 1px solid #5CDB95;
    border-radius: 20px;
    padding: 20px;
    background-color: #8EE4AF;
    display: inline-block;
    max-width: 100%;
}

.textDiv {
    margin-top: 15px;
    text-align: center;
}

.textStyle {
    color: #05386B;
    display: inline-block;
    max-width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.overviewDiv {
    margin-top: 25px;
    text-align: center;
}

.overviewStyle {
    color: #EDF5E1;
    font-family: Teko, sans-serif, Arial;
    font-size: 50px;
}

.overviewStyleCredits {
    color: #EDF5E1;
    font-family: Teko, sans-serif, Arial;
    font-size: 40px;
    margin: 10px;
}

.textDivCredits {
    text-align: center;
}

#colorListHeading {
    font-size: 15px;
    color: black;
}

.colorListDiv {
    display: inline;
}

.colorListStyle {
    list-style-type: none;
}

.squareButtonBlack {
    width: 25px;
    height: 25px;
    background-color: #000000;
    color: #000000;
    border: none;
    cursor: pointer;
}

.squareButtonWhite {
    width: 25px;
    height: 25px;
    background-color: #FAF9F6;
    color: #FAF9F6;
    border: none;
    cursor: pointer;
}

.underlineDivLarge {
    border: 1px solid #5CDB95;
    border-radius: 10px;
    background-color: #8EE4AF;
    padding-top: 10px;
    padding-left: 300px;
    padding-right: 300px;
    display: inline-block;
}

.underlineDivMedium {
    border: 1px solid #5CDB95;
    border-radius: 10px;
    background-color: #8EE4AF;
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
    display: inline-block;
}

.underlineDivSmall {
    border: 1px solid #5CDB95;
    border-radius: 10px;
    background-color: #8EE4AF;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    display: inline-block;
}

.navigationBarDiv {
    display: flex;
    background-color: #05386B;
    align-items: center;
    height: 50px;
}

.menuTextDiv {
    align-items: center;
    padding-left: 20px;
}

.menuText {
    color: #EDF5E1;
    text-align: center;
    font-family: Teko, sans-serif, Arial;
    font-size: 30px;
    margin: 0;
}

.menuUnderlineDivSmall {
    border: 1px solid #17176c;
    border-radius: 10px;
    background-color: #17176c;
    height: 40px;
    width: 10px;
    margin-left: 10px;
}

.menuListStyle {
    list-style-type: none;
}

.menuListItems {
    color: #EDF5E1;
    text-decoration: none;
    font-family: Teko, sans-serif, Arial;
    font-size: 24px;
}

#myGithubText {
    font-family: Teko, sans-serif, Arial;
    float: right;
    color: #EDF5E1;
    text-decoration: none;
    font-size: 24px;
    background: linear-gradient(to right, royalblue , #EDF5E1 50%) , royalblue 50% ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    margin-left: auto;
    margin-right: 10px;
}

#myGithubText:hover {
    background-position: 0 100%;
}

.menuListContainer {
    flex-grow: 0.99;
}

.projectsStyle {
    color: #05386B;
    display: inline-block;
    max-width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.menuAnimDiv {

}
